* {
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  padding: 40px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to left top, #022655, #dededf);
}

span {
  font-size: 1rem;
  font-style: italic;
}

nav {
  display: flex;
  font-size: 1.75rem;
  justify-content: space-evenly;
  background-color: #7fbfd8;
}

body {
  font-family: Arial;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 125%;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none; /*removes lines on bottom of nav links*/
  text-align: center; /*keeps nav links centered when flex column occurs while screen res is reduced*/
}

main {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 1.75rem;
}

aside {
  flex: 1;
  background-color: #aec2c6;
  padding: 60px;
  text-align: center;
  font-size: 1.75rem;
}

aside img {
  border-radius: 50%;
  margin: 20px;
}

.projects {
  background-color: lightcyan;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* flex: 4 0 500px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

#work-header {
  align-self: flex-start;
}

/* .image-boxes {
  margin: 10px;
  text-align: center;
  font-size: 2rem;
} */

#first-card {
  border-style: none;
  /* border-width: 1px; */
  /* border-radius: 10px; */
  font-size: 2rem;
  padding: 10px;
  /*  flex: 4 0 100px; */
  align-self: flex-start;
  margin: 5px;
}

#first-card h2 {
  text-align: center;
  padding-bottom: 0.5rem;
}

#first-card img {
  width: 95%;
}

.card {
  border-style: none;
  /* border-width: 1px; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 5px;
  flex: 2 0 100px;
}

.card h2 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.card img {
  width: 95%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 30px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.pseudo-contact {
  font-size: 1rem;
  margin-right: 75%;
}

.pseudo-contact ul {
  list-style: none;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
  }
}
