* {
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  padding: 40px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to left top, #022655, #dededf);
}

nav {
  display: flex;
  font-size: 4rem;
  justify-content: space-evenly;
  background-color: #7fbfd8;
}

body {
  font-family: Arial;
  margin: 0;
}

p {
  font-size: 1.7rem;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none; /*removes lines on bottom of nav links*/
  text-align: center; /*keeps nav links centered when flex column occurs while screen res is reduced*/
}

main {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 2.5rem;
}

aside {
  flex: 1;
  background-color: #aec2c6;
  padding: 60px;
  text-align: center;
}

aside {
  font-size: 2.75rem;
}

aside img {
  border-radius: 50%;
  margin: 20px;
}

footer {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.projects {
  flex: 4;
  background-color: darkgrey;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* 
What is the flex property a shorthand property for?
It is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties 
What is it doing here?
We are making the product card not growable, not shrinkable, and with an initial length of 400px 
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
  margin: 5px;
}

.card {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/*If h2 is selected here with a comma it will apply to all h2s on html*/
.first-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px;
  flex: 0 0 500px;
  margin: 5px;
}
/*
section h2 {
  font-size: 2rem; 
} */

.first-card header {
  padding: 20px;
}

.first-card p {
  text-align: center;
}

.first-card img {
  width: 95%;
}

/* 
What does the flex-direction property define?
It defines in which direction the container wants to stack the flex items
What is it doing here? 
We are telling the main body and navbar to stack vertically in a column
*/
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
  }
}
