* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*box-sizing: border-box;*/
}

header {
  height: 100px;
  background-color: darkslateblue;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  align-items: center;
}

header h1 {
  padding-left: 25px;
}

nav {
  left: 60%;
  position: relative;
}

.three-links {
  display: inline;
  left: 10%;
}
